/* Remove default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #343434;
  color: black;
}

#root {
  min-height: 100vh;
  background-color: #343434;
}

.navbar {
  margin-bottom: 0 !important;
}
