/* Remove default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #343434;
  color: black;
}

#root {
  min-height: 100vh;
  background-color: #343434;
}

.navbar {
  margin-bottom: 0 !important;
}


         .btn-grad {background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%)}

         .btn-grad {
            padding: 0.5em 1.5em;
            text-align: center;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }
         
